@*<body ng-app>
    First Name: <input type="text" ng-model="fname" /><br />
    Last Name: <input type="text" ng-model="lname" /><br />
    <p ng-bind="fname"></p>
</body>
<script src="Scripts/angular.min.js"></script>*@  

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>All Categories</h2>
        </div>
        <div>
            <table id="categories" style="border: 1px solid black;"></table>
        </div>
    </section>
</div>
@section scripts {
    <script>
        var apiCategories = 'api/category';
        $(document).ready(function () {
            // Send an AJAX request
            var rows = '';
            $('#categories').empty();
            $.getJSON(apiCategories,
                function (data) {
                    $.each(data, function (key, val) {
                        var categoryURL = apiCategories + '/' + val.ID;
                        rows = rows + '<tr style="border: 1px solid black;"><td>  ' +
                        '<a style="color: Blue; font-weight:bold; font-size:15px"'
                           + 'href="' + categoryURL + '">' + val.ID + '</a>' +
                            '</td><td>' + val.Name +
                            '</td><td>' + val.AddedDate + '</td></tr>';
                    });
                    $('#categories').html(rows);
                });
        });
    </script>
}
